beautifulsoup4~=4.7
Jinja2~=2.11
libsass~=0.18
lxml~=4.6
Markdown~=3.3
Pillow~=8.0
PyYAML~=5.1
treelib~=1.5
pymdown-extensions~=8.0
Pygments~=2.7
toml==0.10
dateparser~=1.0
requests~=2.25
tzlocal~=2.1
python-slugify~=4.0
blinker~=1.4