name: Liara

on: [push, pull_request]

jobs:
  unittests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
      max-parallel: 4

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup environment
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install tox
    - name: Test package
      run: tox

  quickstart:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        template-engine: ['jinja2', 'mako']
      max-parallel: 4

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup environment
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Build quickstart using ${{matrix.template-engine}}
      run: |
        liara quickstart -t ${{matrix.template-engine}}
        liara build
